<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">

    <div class="m-grid__item m-grid__item--fluid m-wrapper">
        <div class="m-subheader ">
            <div class="d-flex align-items-center">
                <div class="mr-auto">
                    <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                        <li class="m-nav__item m-nav__item--home">
                            <a href="#" class="m-nav__link m-nav__link--icon">
                                <i class="m-nav__link-icon la la-home"></i>
                            </a>
                        </li>
                        <li class="m-nav__separator">
                            -
                        </li>
                        <li class="m-nav__item">
                            <a href="javascript:void(0)" class="m-nav__link" data-ng-controller="allUserController"
                               ng-click="allUser()">
                                <span class="m-nav__link-text nav-title-page">
                                    My User
                                </span>
                            </a>
                        </li>
                        <li class="m-nav__separator">
                            -
                        </li>
                        <li class="m-nav__item">
                            <a href="javascript:void(0)" class="m-nav__link" data-ng-controller="userController"
                               ng-click="myUser()">
                                <span class="m-nav__link-text nav-title-page">
                                    Add User
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="m-content">
            <div class="row">
                <div class="col-xl-3 col-lg-4">
                    <div class="m-portlet m-portlet--full-height  ">
                        <div class="m-portlet__body">
                            <div class="m-card-profile">
                                <div class="m-card-profile__title ">
                                    My Profile
                                </div>
                                <div class="m-card-profile__pic">
                                    <div class="m-card-profile__pic-wrapper">
                                        <img src="Content/img/paola.jpg" alt=""/>
                                    </div>
                                </div>
                                <div class="m-card-profile__details">
												<span class="m-card-profile__name">
													Mark Andre
												</span>
                                    <a href="" class="m-card-profile__email m-link">
                                        mark.andre@gmail.com
                                    </a>
                                </div>
                            </div>
                            <ul class="m-nav m-nav--hover-bg m-portlet-fit--sides">
                                <li class="m-nav__separator m-nav__separator--fit"></li>
                                <li class="m-nav__section m--hide">
												<span class="m-nav__section-text">
													Section
												</span>
                                </li>
                                <li class="m-nav__item">
                                    <a href="../header/profile&amp;demo=default.html" class="m-nav__link">
                                        <i class="m-nav__link-icon flaticon-share"></i>
                                        <span class="m-nav__link-text">
                                            Edit Profile
                                        </span>
                                    </a>
                                </li>
                                <li class="m-nav__item">
                                    <a href="../header/profile&amp;demo=default.html" class="m-nav__link">
                                        <i class="m-nav__link-icon flaticon-chat-1"></i>
                                        <span class="m-nav__link-text">
                                            Delete Profile
                                        </span>
                                    </a>
                                </li>
                            </ul>
                            <div class="m-portlet__body-separator"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8">
                    <div class="m-portlet m-portlet--full-height">
                        <div class="m-portlet__head">
                            <div class="row">
                                <div class="col-sm-6 border-box text-center">
                                    <div class="desc-info">
                                        Personal Information
                                    </div>
                                    <div class="margin-desc"> <span class="desc-profile">Full Name: </span> Mark Andre</div>
                                    <div class="margin-desc"> <span class="desc-profile">User Type: </span> Student</div>
                                    <div class="margin-desc"> <span class="desc-profile"> Date Of Birth :</span> 07 02 1990</div>
                                    <div class="margin-desc"> <span class="desc-profile"> Gender: </span> female</div>
                                    <div class="margin-desc"> <span class="desc-profile"> Grade: </span> 10th grade</div>
                                </div>
                                <div class="col-sm-6 text-center">
                                    <div class="desc-info">
                                        Relationship
                                    </div>
                                    <div class="margin-desc"> <span class="desc-profile"> Full Name: </span> Paola Da Silva</div>
                                    <div class="margin-desc"> <span class="desc-profile"> User Type: </span> Parent</div>
                                    <div class="margin-desc"> <span class="desc-profile"> Date Of Birth: </span> 05 30 1965</div>
                                    <div class="margin-desc"> <span class="desc-profile"> Gender: </span> female</div>
                                </div>
                                <div class="col-sm-6 text-center border-box">
                                    <div class="desc-info">
                                        Phone Number
                                    </div>
                                    <div class="margin-desc"> <span class="desc-profile"> Home: </span> +502209393209</div>
                                    <div class="margin-desc"> <span class="desc-profile"> Mobile: </span> +02 020109392</div>
                                    <div class="margin-desc"> <span class="desc-profile"> Office: </span> +0420205555</div>
                                </div>
                                <div class="col-sm-6 text-center">
                                    <div class="desc-info">
                                        User Status & E-mail
                                    </div>
                                    <div class="margin-desc"> <span class="desc-profile"> User Status: </span> Active</div>
                                    <div class="margin-desc"> <span class="desc-profile"> E-mail Address: </span> mark.andre@gmail.com</div>
                                </div>
                                <div class="col-12">
                                    <div class="desc-info text-center">
                                        Class List
                                    </div>
                                    <table class="table text-center bg-table-light margin-row-30">
                                        <thead class="bg-thead-dark">
                                        <tr>
                                            <th>
                                                Class Name
                                            </th>
                                            <th>
                                                Teacher
                                            </th>
                                            <th>
                                                Period
                                            </th>
                                            <th>
                                                Day(s)
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                Math
                                            </td>
                                            <td>
                                                Emisael Carrera
                                            </td>

                                            <td>
                                                Block 1
                                            </td>
                                            <td>
                                                Monday
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Geography
                                            </td>
                                            <td>
                                                Estefania Cedeño
                                            </td>

                                            <td>
                                                Block 2
                                            </td>
                                            <td>
                                                Tuesday
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Biology
                                            </td>
                                            <td>
                                                Eduardo Luttinger
                                            </td>

                                            <td>
                                                Block 2
                                            </td>
                                            <td>
                                                Tuesday
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Chemistry
                                            </td>
                                            <td>
                                                Gabriel Carrillo
                                            </td>

                                            <td>
                                                Block 3
                                            </td>
                                            <td>
                                                Tuesday
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>