<div class="m-grid m-grid--hor m-grid--root m-page">
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-grid--tablet-and-mobile m-grid--hor-tablet-and-mobile m-login m-login--1 m-login--signin" id="m_login">
        <div id="background-parent" style="background-image: url(Content/img/bg-attendace.jpg);">
            <div class="m-stack m-stack--hor m-stack--desktop">
                <div class="m-stack__item m-stack__item--fluid">
                    <div class="m-login__wrapper">
                        <div class="m-login__signin">
                            <div class="m-login__head">
                                <h3 class="m-login__title color-login-white">
                                    Create a New Account
                                </h3>
                            </div>
                            <form class="m-login__form m-form" action="">
                                <div class="form-group m-form__group row">
                                    <div class="col-6 pb-2">
                                        <label class="col-12 label-parent-login" > First Name</label>
                                        <div class="m-input-icon m-input-icon--left">
                                            <input type="text" class="form-control m-input"
                                                   placeholder="First Name">
                                        </div>
                                    </div>
                                    <div class="col-6 pb-2">
                                        <label class="col-12 label-parent-login" >Last Name</label>
                                        <div class="m-input-icon m-input-icon--left">
                                            <input type="text" class="form-control m-input"
                                                   placeholder="Type Student">
                                        </div>
                                    </div>
                                    <div class="col-6 pb-2">
                                        <label class="col-12 label-parent-login" >Country</label>
                                        <div class="m-input-icon m-input-icon--left">
                                            <input type="text" class="form-control m-input"
                                                   placeholder="Country">
                                        </div>
                                    </div>
                                    <div class="col-6 pb-2">
                                        <label class="col-12 label-parent-login" >E-mail Address</label>
                                        <div class="m-input-icon m-input-icon--left">
                                            <input type="text" class="form-control m-input"
                                                   placeholder="E-mail Address">
                                        </div>
                                    </div>
                                    <div class="col-md-12 pt-3 label-parent-login">
                                        <label class="col-12 text-center" >Phone Number</label>
                                        <div class="col-md-8 offset-2 m-input-icon m-input-icon--left">
                                            <input type="text" class="form-control m-input"
                                                   placeholder="Home">
                                        </div>
                                    </div>
                                    <div class="col-md-12 pt-2">
                                        <div class="col-md-8 offset-2 m-input-icon m-input-icon--left">
                                            <input type="text" class="form-control m-input"
                                                   placeholder="Mobile">
                                        </div>
                                    </div>
                                    <div class="col-md-12 pt-2">
                                        <div class="col-md-8 offset-2 m-input-icon m-input-icon--left">
                                            <input type="text" class="form-control m-input"
                                                   placeholder="Office">
                                        </div>
                                    </div>
                                    <div class="col-md-12 pt-2">
                                        <div class="col-md-8 offset-2 m-input-icon m-input-icon--left">
                                            <input type="text" class="form-control m-input"
                                                   placeholder="Add Student">
                                            <span class="m-input-icon__icon m-input-icon__icon--right">
                                                <span><i class="la la-child"></i></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-login__form-action">
                                    <button id="m_login_signup_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom">
                                        Save
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="m-stack m-stack--hor m-stack--desktop">
                <div class="m-stack__item m-stack__item--fluid">
                    <div class="m-login__wrapper">
                        <div class="m-login__signin">
                            <div class="m-login__head">
                                <div class="m-login__logo">
                                    <a href="#">
                                        <img src="Content/img/logo.png" style="width: 260px">
                                    </a>
                                </div>
                                <h3 class="m-login__title ">
                                    Login As a Parent
                                </h3>
                            </div>
                            <form class="m-login__form m-form" action="">
                                <div class="form-group m-form__group row">
                                    <div class="col-md-12 pt-2">
                                        <div class="col-md-8 offset-2 m-input-icon m-input-icon--left">
                                            <input type="text" class="form-control m-input"
                                                   placeholder="UserName">
                                            <span class="m-input-icon__icon m-input-icon__icon--right">
                                                <span><i class="la la-male"></i></span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 pt-2">
                                        <div class="col-md-8 offset-2 m-input-icon m-input-icon--left">
                                            <input type="text" class="form-control m-input"
                                                   placeholder="Password">
                                            <span class="m-input-icon__icon m-input-icon__icon--right">
                                                <span><i class="la la-key"></i></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row m-login__form-sub">
                                    <div class="col-6 offset-2 m--align-left m-login__form-left">
                                        <label class="m-checkbox  m-checkbox--focus">
                                            <input type="checkbox" name="remember">
                                            Remember me
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="m-login__form-action">
                                    <button id="m_login_signup_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom">
                                        Sign In
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>